PORT=3001
NODE_ENV=development
MONGODB_URI=
FRONTEND_URL=https://www.eljardindeluna.ar
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
BACKEND_PUBLIC_URL=https://eljardindeluna-back.onrender.com
MERCADO_PAGO_MODE=sandbox
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=
ADMIN_TOKEN_EXPIRES_IN=30m
SHIPPING_COST=0
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
